body {
  background-color: #fffafa;
}


.header-contact {
  width: 100%
}

.header-contact ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-contact ul li a {
  color: #00000099;
}

.header-contact ul li {
  border-left: 1px solid #e4e4e4;
  display: inline-block;
  padding: 0.4rem 1rem;
}

.fab {
  background-color: #25d366;
  color: #ffffff;
  padding: 4px;
  border-radius: 50%;
}

.navbar {
  background-color: #4e73df;
  transition: .2s ease-in;
  margin-top: 2rem;

}
.newbar {
  background-color: #00000099;
  transition: .2s ease-out;
  margin-top: 0rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #4e73df;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #00000099 !important;
}

.nav-pills .nav-items {
  padding: 2rem !important;
}

.owl-carousel {
  position: relative;
  padding: 5rem 2rem 2rem 2rem;
}

.owl-carousel .owl-dot {
  display: none !important;
}


.owl-carousel .owl-item {
  text-align: center;
}

.owl-carousel .owl-item img {
  height: 50px;
  width: 50px !important;
  position: absolute;
  right: 33%;
  bottom: 43%;
}

 strong {
  font-size: 0.7rem;
}

.nav-pills .nav-link {
  height: 120px !important;
}

.owl-carousel .owl-nav {
  display: inline !important;
}

.owl-carousel .owl-nav .owl-prev {
  display: inline-block;
  position: absolute;
  top: -40%;
  left: -180px;
}

.owl-carousel .owl-nav .owl-next {
  display: inline-block;
  position: absolute;
  top: -40%;
  right: -180px;
  height: 50px;
}

.owl-carousel .owl-nav .owl-prev img,.owl-carousel .owl-nav .owl-next img {
  transform: scale(0.1, 0.1);
  margin: 0;
}

.sub-listing {
  margin: 0 10rem 5rem;
}

.sub-listing .col-lg-3 {
  height: 122px;
}

.sub-listing img{
  padding:2rem 0;
  width: 50px;
  bottom: 5;
}


.btn.btn-outline-white {
  border-radius: 2rem;
}

.overlay {
  background-image: url(../images/bg.jpg);
  /*background-attachment: fixed;
  background-position: 0 100px;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;*/
}

.typed-words {
  color: #ff6347;
  background-color: #00000066;
  border-radius: 1rem;
}

.form-search-wrap {
  border-radius: 2rem;
}

/*we can use this with sprites for less http requests
.body::before {
  content: url("../images/1.png");
}*/

.site-footer {
  padding: 2rem 0;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .header-contact ul {
    margin-left: 0;
  }

  .header-contact ul li {
    display: block;
    margin: 0;
    padding: 0;
  }

  .owl-carousel .owl-nav .owl-prev {
  display: none;
  }

  .owl-carousel .owl-nav .owl-next {
    display: none;
  }

  .navbar,.header-contact {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
  }

  .fab, .fa-phone:before {
    display: none;
  }

  .header-contact {
    background-color: #ffffff;
    z-index: 100;
  }

  .navbar {
    margin-top: 5rem;
    width: 100%;
  }

  .newbar {
    background-color: #4e73df;
  }

  #pills-tab {
    margin-top: 6rem;
  }

.owl-carousel .owl-item img {
    height: 80px;
    width: 80px !important;
    position: absolute;
    right: 37%;
    bottom: 35%;
  }

  .owl-carousel .owl-nav .owl-prev img, .owl-carousel .owl-nav .owl-next img {
    margin: 10px 3rem;
  }

  .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(0vh);
  }

  .sub-listing {
  margin: 0 10rem 5rem;
}

.sub-listing .col-lg-3 {
  height: 122px;
}

.sub-listing img{
  padding:2rem 0;
  width: 50px;
  bottom: 5;
}

}



/*@media only screen and (max-width: 768px) {

  .header-contact ul {
    margin-left: 0;
  }

  .navbar,.header-contact {
    overflow: hidden;
    position: fixed;
    top: 3;
    width: 100%;
  }

  .header-contact {
    background-color: #ffffff;
    z-index: 100;
  }

  .navbar {
    margin-top: 4rem;
  }

  .newbar {
    background-color: #4e73df;
  }

  .owl-carousel {
    padding: 8rem 8rem 2rem;
  }

  .owl-carousel .owl-nav .owl-next {
    top: 40%;
    right: -40px;
  }

  .owl-carousel .owl-nav .owl-prev {
    top: 40%;
    left: -40px;
  }

  .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(50vh);
  }
}
*/
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .header-contact ul {
    margin-left: 0;
  }

  .navbar,.header-contact {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  .header-contact {
    background-color: #ffffff;
    z-index: 100;
  }

  .navbar {
    margin-top: 2rem;
  }

  .newbar {
    background-color: #4e73df;
  }

  .owl-carousel .owl-item img {
    height: 50px;
    width: 50px !important;
    position: absolute;
    right: 33%;
    bottom: 43%;
  }

   strong {
    font-size: 0.6rem;
    white-space: nowrap;
  }

  .owl-carousel .owl-nav .owl-next {
    display: none;
  }

  .owl-carousel .owl-nav .owl-prev {
    display: none;
  }

  .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(50vh);
  }

}