<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>cards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
  </head>
    <body>

<div class="container mt-4">
  <div class="row">
    <div class="owl-carousel owl-theme">

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <%= image_tag('services/service.png', class: "card-img-top" ) %>
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">Get deep insights in Travel and Tourism industry from the experts,
              on job training & paid internships.</p>
            <a href="#" class="btn btn-primary" title="read more">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <%= image_tag('services/service.png', class: "card-img-top" ) %>
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">Get deep insights in Travel and Tourism industry from the experts,
              on job training & paid internships.</p>
            <a href="#" class="btn btn-primary" title="read more">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <%= image_tag('services/service.png', class: "card-img-top" ) %>
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">Get deep insights in Travel and Tourism industry from the experts,
              on job training & paid internships.</p>
            <a href="#" class="btn btn-primary" title="read more">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <%= image_tag('services/service.png', class: "card-img-top" ) %>
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">Get deep insights in Travel and Tourism industry from the experts,
              on job training & paid internships.</p>
            <a href="#" class="btn btn-primary" title="read more">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <%= image_tag('services/service.png', class: "card-img-top" ) %>
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">Get deep insights in Travel and Tourism industry from the experts,
              on job training & paid internships.</p>
            <a href="#" class="btn btn-primary" title="read more">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- content -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script>
    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
          0:{
              items:1,
              nav:true
          },
          600:{
              items:2,
              nav:false
          },
          1000:{
              items:3 ,
              nav:true,
              loop:true
          }
        }
      });
    });
    </script>
  </body>
</html>