<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>

      .our-services
{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #808080;
  text-align: justify;
  margin-bottom: 20px;
}

.services-holder
{
  float: left;
  width: 100%;
  margin-top: 20px;
}

.card {
  text-align: center;
}

.card-img-top {
  padding: 1rem;
  width: 50%;
  box-sizing: border-box;
  border-radius: 50%;
}
.card-img-top:hover {
  border: 1px solid #1abc9c;
  transform: scale(1.1,1.1);
  transition: 0.1s ease;
}

.card-body {
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10% 0;
}

.card-text {
    font-size: 14px !important;
}

.btn {
  position: absolute;
  bottom: 7%;
  right: 10%;
  text-decoration: none;
  color: #fff;
  background: #4dc4b1;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
}


    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            logo
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse overlay">
          <ul class="nav navbar-nav navbar-right overlay-content">
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="" title="Services">Services</a></li>
            <li><a href="/portfolio" title="Portfolio">Portfolio</a></li>
            <li><a href="/about-us" title="About Us">About Us</a></li>
            <li><a href="/contact-us" title="Contact Us">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>


  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="services-holder">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <%= image_tag('services/service.png', class: "card-img-top" ) %>
                  <div class="card-body">
                    <h5 class="card-title">Software Development</h5>
                    <p class="card-text">Get deep insights in Travel and Tourism industry from the experts,
                      on job training & paid internships.</p>
                    <a href="#" class="btn btn-primary" title="read more">Read More</a>
                  </div>
                </div>
              </div>
                <div class="col-md-4">
                  <div class="card">
                   <%= image_tag('services/service.png', class: "card-img-top" ) %>
                    <div class="card-body">
                      <h5 class="card-title">Software Development</h5>
                      <p class="card-text">GA course module exclusively designed for start-ups and entrepreneurs in travel domain.</p>
                      <a href="#" class="btn btn-primary" title="read more">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                   <%= image_tag('services/service.png', class: "card-img-top" ) %>
                    <div class="card-body">
                      <h5 class="card-title">Software Development</h5>
                      <p class="card-text">Boost your career at travel and Tourism industry</p>
                      <a href="#" class="btn btn-primary" title="read more">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

  </body>
</html>