body {
  margin: 0;
  padding: 0;
}

a:focus, a:hover {
  color: #000000;
  text-decoration: none;
}

section {
  padding: 80px 0;
}

.logo {
  height: 100px;
  width:100px;
  opacity: 0.7;
}

.logo:hover {
  opacity: 1;
}

.navbar {
  background: linear-gradient( rgba(14, 204, 216, 0.7) 100%, rgba(14, 204, 216, 0.7)100%);
  padding: 30px 0;
}

.navbar-brand {
  display: block;
  width: 130px;
  padding: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #00000099;
  margin-left: 40px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 900;
  padding: 0.2cm 1cm;
  border-radius: 1rem;

}
.navbar-expand-md:hover .navbar-nav:hover .nav-link:hover {
  color: #ffffff;
  background-color: #00000099;
}

.navbar-toggler {
  padding: 0;
  border: 0;
}

.hamburger-box {
  width: 26px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 26px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}


/* home page*/
.page-home .banner-home {
  min-height: 600px;
  position: relative;
  z-index: 1;
  background: linear-gradient( rgba(14, 204, 216, 0.7) 100%, rgba(14, 204, 216, 0.7)100%),url("../images/background.png");
  background-size: cover;

}

.page-home .banner-home .banner-content {
  position: absolute;
  top: 150px;
  left: 15px;
}

.page-home .banner-home .banner-content h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 30px;
  color: #00000099;
}

.page-home .banner-home .banner-content p {
  margin-bottom: 80px;
  color: #00000099;
}
.page-home .banner-home .banner-content a {
  text-decoration: none;
  color: #00000099;
}

.page-home .banner-home .banner-content h1:hover {
  color: #ffffff;
}

.page-home .banner-home .banner-content p:hover {
  color: #ffffff;
}
.page-home .banner-home .banner-content a:hover {
  color: #ffffff;
}

/* footer */
.footer {
  font-size: 14px;
  line-height: 26px;
  color: #666;
  padding: 0 30px;
  position: relative;
}

.footer .footer-brand {
  display: block;
  width: 130px;
  margin-bottom: 50px;
}
.footer .footer-brand img {
  width: 100%;
  opacity: 0.7;
}

.footer .footer-brand img:hover {
  opacity: 1;
}

.footer a {
  color: #666;
}

.footer a:hover {
  color: #000000;
  text-decoration: none;
}

/*services*/
.section-service img {
  margin-bottom: 10px;
  height: 80px;
}

.services {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 1rem 0;
}

.heading {
  margin-bottom: 45px;
  text-align: center;
}

.heading h2 {
  font-weight: 800;
  margin-bottom: 1cm;
}

.heading p {
  color: #ababab;
}

/*section project*/

.box {
  border-radius: 30px;
  padding: 100px 70px;
  position: relative;
}
.car-item {
  padding: 0 2cm ;
}
.car-item h3 {
  font-weight: 800;
}
.car-item p {
  color: #ababab;
}
.car-item h5 {
  font-weight: 800;
}

.carousel-indicators {
  bottom: -100px !important;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  margin: 10px !important;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #ababab !important;
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: #0eccd8 !important;
}

.section-technology .sprite-tech {
  background: url(../images/sprite1x-technologies.png) no-repeat center center;
  display: block;
  height: 52px;
  background-position: 0 0;
}

.section-technology .tab-content li {
    display: inline-block;
    margin: 15px;

}
.section-technology i.sprite-tech.python {
    background-position: 0 0;
    width: 50px;
    filter: grayscale(100%);
}

.section-technology i.sprite-tech.golang {
    background-position: -52px 0;
    width: 104px;
    filter: grayscale(100%);
}

.section-technology i.sprite-tech.rails {
    background-position: -159px 0;
    width: 42px;
    filter: grayscale(100%);
}

.section-technology i.sprite-tech.ruby {
    background-position: -172px -110px;
    width: 58px;
    filter: grayscale(100%);
}

.section-technology i.sprite-tech.python:hover {
    background-position: 0 0;
    width: 50px;
    filter: grayscale(0%);
    transition: 1s;
}

.section-technology i.sprite-tech.golang:hover {
    background-position: -52px 0;
    width: 104px;
    filter: grayscale(100%);
    filter: grayscale(0%);
    transition: 1s;
}

.section-technology i.sprite-tech.rails:hover {
    background-position: -159px 0;
    width: 42px;
    filter: grayscale(100%);
    filter: grayscale(0%);
    transition: 1s;
}

.section-technology i.sprite-tech.ruby:hover {
    background-position: -172px -110px;
    width: 58px;
    filter: grayscale(100%);
    filter: grayscale(0%);
    transition: 1s;
}

.section-technology i.sprite-tech.ruby {
    background-position: -172px -110px;
    width: 58px;
}


.section-technology i.sprite-tech.java {
    background-position: 0 0;
    width: 50px;
}

.section-technology i.sprite-tech.django {
    background-position: -52px 0;
    width: 104px;
}

.section-technology i.sprite-tech.django-rest {
    background-position: -159px 0;
    width: 42px;
}

.section-technology i.sprite-tech.flask {
    background-position: -172px -110px;
    width: 58px;
}

.section-technology i.sprite-tech.php {
    background-position: 0 0;
    width: 50px;
}

.section-technology i.sprite-tech.celery {
    background-position: -52px 0;
    width: 104px;
}

.section-technology i.sprite-tech.jupyter {
    background-position: -159px 0;
    width: 42px;
}

.section-technology i.sprite-tech.scrapy {
    background-position: -172px -110px;
    width: 58px;
}

.tech {
  padding-left: 68px !important;
}

.container h2, li {
  font-weight: 800;
}

.bg-custom {
 background-color: #00D1DB !important;
}

.section-c {
  padding: 50px;
  font-size: 36px;
  line-height: 38px;
  text-align: center;
}

.devlop-img {
  margin-top: 0.5rem;
}

.devlop-img:hover {
  margin-top: 0;
  transition: 0.2s ease-out;
}